<h1>Settings</h1>

<div class="btn-group-vertical">
  <%= link_to "Categories", settings_categories_path, :class => "btn btn-primary btn-lg" %>
  <%= link_to "Tags", settings_tags_path, :class => "btn btn-primary btn-lg" %>
</div>