<h1>Settings</h1>
<p>
  <button type="button" class="btn btn-primary btn-lg">Categories</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-lg">Tags</button>
</p>
<p>
<button type="button" class="btn btn-secondary btn-lg">Large button</button>
</p>
<p>-- dodělat --</p>