<h1>My account</h1>

<div class="btn-group-vertical">
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-primary btn-lg" %>
  <%= link_to "Edit Account", "#", :class => "btn btn-primary btn-lg" %>
  <%= link_to "Delete Account", "#", :class => "btn btn-primary btn-lg" %>
</div>
